<app-header></app-header>
<app-menu *ngIf="canShowMenu"></app-menu>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-12 ui-md-7 dashboard">Issuer Master
          <p-button icon="pi pi-refresh" (onClick)="onLoadData()"></p-button>
        </div>
        <div class="ui-g-12 ui-md-5 dashboard" style="text-align: end !important;">
          <!-- <input class="search-masters" type="text" [(ngModel)]="searchText" pInputText
            placeholder="Search by IssuerName" (ngModelChange)="onSearch($event)"> -->
          <p-splitButton class="inline-padding" label="Export" icon="pi pi-download" [model]="items"
            styleClass="ui-button-danger"></p-splitButton>
          <button class="inline-padding" pButton type="button" label=Add icon="pi pi-plus" class="ui-button-warn"
            (click)="viewPane = true;onClear()" [disabled]="(IssuerMasterData.length=='0')"></button>
        </div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err"></p-toast>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <p-table #table [columns]="IssuerMasterCols" [value]="IssuerMasterData" [rows]="20"
          [rowsPerPageOptions]="[10,20,30,40,50,100]" selectionMode="single" [responsive]="true" autoLayout="true"
          [paginator]="true" [loading]="loading">
          <ng-template pTemplate="header" let-columns>
            <tr style="text-align: center;">
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input class="ui-g-12 ui-md-12" *ngSwitchCase="'Issuername'" pInputText type="text"
                  [(ngModel)]="searchText" pInputText placeholder="Search by Issuer Name"
                  (ngModelChange)="onSearch($event)">
                <input class="ui-g-12 ui-md-12" *ngSwitchCase="'ACSCode'" pInputText type="text"
                  [(ngModel)]="searchAcs" pInputText placeholder="Search by ACSCode"
                  (ngModelChange)="onIssuer($event)">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dblclick)="onRowSelect($event, rowData)">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-panel>
</div>
<p-dialog header="Issuer-Master" [contentStyle]="{'overflow':'scroll'}" [modal]="true" [maximizable]="true"
  [(visible)]="viewPane" [responsive]="true" [style]="{width: '1000px', height: '1500px !important'}">
  <div class="ui-g-12 ui-fluid border-teal">
    <form #f="ngForm" name="issuerMaster">
      <div class="ui-g-12 ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-6 ui-md-3">
          <span class="ui-float-label">
            <input name="Godown" pInputText [(ngModel)]="GName" [readonly]="true" autocomplete="off" required>
            <label for="Godown" class="float-input">Godown Name</label>
          </span>
        </div>
        <div class="ui-g-6 ui-md-3">
          <span class="ui-float-label">
            <input name="Region" pInputText [(ngModel)]="RName" [readonly]="true" autocomplete="off" required>
            <label for="Region" class="float-input">Region Name</label>
          </span>
        </div>
        <div class="ui-g-6 ui-md-4" style="margin-top: -20px">
          <label for="Issuer_Type" class="label-fontsize">Issuer Type</label>
          <p-dropdown #Issuer name="Issuer_Type" [options]="issuerTypeOptions" [(ngModel)]="IssuerType"
            optionLabel="label" (onClick)="onSelect('click', 'iss')" (onChange)="onChange()"
            (keydown.enter)="onSelect('enter', 'iss')" filter="true" resetFilterOnHide="true">
          </p-dropdown>
        </div>
        <!-- <div class="ui-g-2"></div> -->
      </div>
      <div class="ui-g-12 ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-6 ui-md-4" style="margin-top: -20px">
          <label for="Society_Type" class="label-fontsize">Society Type</label>
          <p-dropdown #society name="Society_Type" [options]="societyOptions" [(ngModel)]="Society" optionLabel="label"
            (onClick)="onSelect('click', 'soc')" [disabled]="enableSociety" (keydown.enter)="onSelect('enter', 'soc')"
            filter="true" resetFilterOnHide="true">
          </p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4" style="margin-top: -20px">
          <label for="Category_Type" class="label-fontsize">OWS Category</label>
          <p-dropdown #Category name="Category_Type" [options]="categoryOptions" [(ngModel)]="CategoryType"
            optionLabel="label" (onClick)="onSelect('click', 'cat')" filter="true" resetFilterOnHide="true"
            (keydown.enter)="onSelect('enter', 'cat')">
          </p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-2">
          <span class="ui-float-label">
            <input name="Acs_Code" pInputText [(ngModel)]="ACSCode" autocomplete="off">
            <label for="Acs_Code" class="float-input">ACSCode</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-6 ui-md-3">
          <span class="ui-float-label">
            <input name="Iss_Code" pInputText [(ngModel)]="IssuerCode" [disabled]="true" autocomplete="off">
            <label for="Iss_Code" class="float-input">Issuer Code</label>
          </span>
        </div>
        <div class="ui-g-6 ui-md-5">
          <span class="ui-float-label">
            <input name="Iss_Name" pInputText [(ngModel)]="IssuerName" autocomplete="off" required>
            <label for="Iss_Name" class="float-input">Issuer Name</label>
          </span>
        </div>
        <div class="ui-g-6 ui-md-2">
          <span class="ui-float-label">
            <input name="No_of_beneficaries" pInputText [(ngModel)]="Beneficiaries"
              oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
              autocomplete="off" required>
            <label for="No_of_beneficaries" class="float-input">No.Of Beneficiaries</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-6 ui-md-4 no-pad-top">
          <div class="ui-g border-lightgrey">
            <p-radioButton class="ui-g-6" name="Flag" label="Active" value="A" [(ngModel)]="Activeflag" required>
            </p-radioButton>
            <p-radioButton class="ui-g-6" name="Flag" label="InActive" value="I" [(ngModel)]="Activeflag" required>
            </p-radioButton>
          </div>
        </div>
        <div class="ui-g-5"></div>
        <div class="ui-g-4 ui-md-1">
          <button pButton label=Save
            [disabled]="(!GName || !RName || !Activeflag || !IssuerName || !IssuerType || !Beneficiaries || (isEdited && !f.dirty))"
            (click)="onSave()"></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>