<app-header></app-header>
<app-menu *ngIf="canShowMenu"></app-menu>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-5 dashboard">Depositor Master</div>
        <div class="ui-g-12 ui-md-7 dashboard" style="padding-left: 45%">
          <input class="search-masters" type="text" [(ngModel)]="searchText" pInputText
            placeholder="Search by Depositor Name" (ngModelChange)="onSearch($event)">
        </div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err"></p-toast>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-1"></div>
      <div class="ui-g-9 ui-md-3">
        <label class="ui-g-7 label-fontsize dashboard">Depositor Type</label>
        <p-dropdown #region class="ui-g-12 ui-fluid dashboard" [options]="depositorOptions"
          (onClick)="onSelect('depositor', 'click')" (keydown.enter)="onSelect('depositor', 'enter')"
          [(ngModel)]="Depositor" (ngModelChange)="onReset('depositor')" [showClear]="true" filter="true"
          resetFilterOnHide="true" placeholder="-select-">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="ui-g-3 ui-md-1" style="padding-top: 20px;">
        <button class="ui-g-3 dashboard inline-margin" pButton type="button" label=View (click)="onView()"
          [disabled]="(!Depositor)"></button>
      </div>
      <div class="ui-g-12 ui-md-2">
        <label class="ui-g-7 label-fontsize dashboard">Region</label>
        <p-dropdown #region class="ui-fluid dashboard" [options]="regionOptions" [(ngModel)]="RCode"
          (onClick)="onSelect('reg', 'click')" (keydown.enter)="onSelect('reg', 'enter')" [showClear]="true"
          (ngModelChange)="onReset('reg')" filter="true" resetFilterOnHide="true" optionLabel="label"
          filterMatchMode="startsWith" placeholder="-select-">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-2">
        <label class="ui-g-7 label-fontsize dashboard">Godown</label>
        <p-dropdown #godown class="ui-fluid dashboard" [options]="godownOptions" [(ngModel)]="GCode"
          (onClick)="onSelect('gd', 'click')" (keydown.enter)="onSelect('gd', 'enter')" (ngModelChange)="onReset('gd')"
          filter="true" resetFilterOnHide="true" [showClear]="true" filterMatchMode="startsWith" optionLabel="label"
          placeholder="-select-">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="ui-g-3 ui-md-1" style="padding-top: 20px;">
        <button class="ui-g-3 dashboard inline-margin" pButton type="button" label=Add (click)="onAdd()"
          [disabled]="(!Depositor || !RCode || !GCode)"></button>
      </div>
      <div class="ui-g-3 ui-md-1" style="padding-top: 20px">
        <button class="ui-g-3 dashboard inline-margin" pButton type="button" label=Excel (click)="dt.exportCSV()"
          [disabled]="(!excelEnable)"></button>
      </div>
      <div class="ui-g-12 ui-md-2"></div>
      <div class="ui-g-12 dashboard">
        <p-table #dt [columns]="DepositorMasterCols" [value]="DepositorMasterData" [rows]="20"
          [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" [loading]="loading" [responsive]="true"
          exportFilename="DEPOSITOR_MASTER_FOR_{{Depositor}}" autoLayout="true">
          <ng-template pTemplate="header" let-columns>
            <tr style="text-align: center;">
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dblclick)="onRow($event, rowData)">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-panel>
</div>

<p-dialog header="Depositor Master Update" [modal]="true" [maximizable]="true" [(visible)]="isEdited"
  [responsive]="true" [style]="{width: '1000px', height: '1500px !important'}">
  <div class="ui-g-12 ui-fluid border-teal">
    <form #f="ngForm" name="depositorMaster">
      <div class="ui-g-12 ui-fluid">
        <div class="ui-g-6 ui-md-3">
          <span class="ui-float-label">
            <input name="DepositorCode" pInputText [(ngModel)]="DepositorCode" [readonly]="true" autocomplete="off"
              required>
            <label for="DepositorCode" class="float-input">Depositor Code</label>
          </span>
        </div>
        <div class="ui-g-6 ui-md-4">
          <span class="ui-float-label">
            <input name="DepositorName" pInputText [(ngModel)]="DepositorName" autocomplete="off" required>
            <label for="DepositorName" class="float-input">Depositor Name</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-4 no-pad-top">
          <div class="ui-g border-lightgrey">
            <p-radioButton class="ui-g-6" name="Flag" label="Active" value="A" [(ngModel)]="Active" required>
            </p-radioButton>
            <p-radioButton class="ui-g-6" name="Flag" label="InActive" value="I" [(ngModel)]="Active" required>
            </p-radioButton>
          </div>
        </div>
        <!-- <div class="ui-g-12 ui-md-1"></div> -->

        <div *ngIf="(Depositor == 'TY028')">
          <div class="ui-g-6 ui-md-3">
            <span class="ui-float-label">
              <input name="LedgerId" pInputText [(ngModel)]="LedgerId" autocomplete="off" required>
              <label for="LedgerId" class="float-input">GST Ledger ID</label>
            </span>
          </div>
          <div class="ui-g-6 ui-md-4">
            <span class="ui-float-label">
              <input name="GST" pInputText [(ngModel)]="GST" (ngModelChange)="GST = $event.toUpperCase()" autocomplete="off" required>
              <label for="GST" class="float-input">GST No</label>
            </span>
          </div>
        </div>

        <div class="ui-g-3 ui-md-1 ui-fluid">
          <button pButton type="button" label=Save (click)="onSave()"
            [disabled]="(!GCode || !RCode || !Active || !DepositorName)"></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>