<app-header></app-header>
<app-menu *ngIf="canShowMenu"></app-menu>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-12 ui-md- dashboard">Region Master</div>
      </div>
    </p-header>
    <div class="ui-g">
      <p-toast position="top-center" key="t-err"></p-toast>
      <div class="ui-g ui-md-12 ui-fluid  dashboard">
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-2">
          <label for="regCode" class="label-fontsize">Region Code</label>
          <input name="regCode" type="text" size="15" pInputText [(ngModel)]="RCode" [readOnly]="true">
        </div>
        <div class="ui-g-12 ui-md-2">
          <label for="regName" class="label-fontsize">Region Name</label>
          <input name="regName" type="text" size="15" pInputText [(ngModel)]="RName" [readOnly]="isSelected"
            autocomplete="off">
        </div>
        <div class="ui-g-4 ui-md-1">
          <button class="ui-g-3 dashboard inline-margin" style="margin-top: 18px;" pButton type="button" label={{label}}
            (click)="onSave()"></button>
        </div>
      </div>
      <div class="ui-g-12 ui-fluid">
        <p-table name="item_table" [columns]="regionCols" [value]="regionData" [responsive]="true" autoLayout="true"
          [rows]="20" [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" [loading]="loading">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dblclick)="onRowSelect($event, rowData)">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-panel>
</div>