<!-- <button pButton type="button" (click)="showSideBar = true" icon="pi pi-bars"></button> -->
<app-topbar (menuClick)="onClickMenuBar($event)"></app-topbar>
<p-sidebar [(visible)]="showSideBar" [baseZIndex]="10000" [showCloseIcon]="false"
  [style]="{background:'#3f4d67', width:'16em', border: '0.10em solid rgb(56, 149, 147)'}">
  <!-- <img src="../../assets/layout/images/login/tncsc-logo.png"/> 212121 -->
  <div class="ui-g-12">
    <h3 class="sidenav-header"> Home Page </h3>
    <i class="fa fa-times-circle-o sidenav-layout-close" aria-hidden="true" style="float: right !important;"
      (click)="showSideBar = false"></i>
  </div>
  <div class="ui-g-12 no-pad-top">
    <ul style="list-style-type:none;">
      <li>
        <div class="ui-g-12 no-pad-left sidenav-layout-a">
          <i class="pi pi-home pad-right"></i>
          <a class="sidenav-layout-a" [routerLink]="['/Home']">Dashboard</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="ui-g-12">
    <h3 class="sidenav-header">Masters</h3>
  </div>
  <div class="ui-g-12 no-pad-top">
    <ul style="list-style-type:none;">
      <li>
        <!-- <div class="ui-g-12 no-pad-left">
          <a class="sidenav-layout-a" [routerLink]="RegionMaster">Region Master</a>
        </div> -->
        <div class="ui-g-12 no-pad-left sidenav-layout-a">
          <a class="sidenav-layout-a pad-right" (click)="toggleButton('md')">Master Data</a>
          <i *ngIf="!showDownArrow_MD" aria-hidden="true" class="fa fa-angle-down sidenav-layout-arrow"></i>
          <i *ngIf="showDownArrow_MD" aria-hidden="true" class="fa fa-angle-up sidenav-layout-arrow"></i>
          <div *ngIf="showDownArrow_MD" class="ui-g-12 dashboard">
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/MrmData']" routerLinkActive="active">MRM</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/AADS']" routerLinkActive="active">AADS</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/FciData']" routerLinkActive="active">FCI</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/HullingAgencies']" routerLinkActive="active">Hulling Agencies</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/SuppliersData']" routerLinkActive="active">Suppliers</a>
            </div>
          </div>
        </div>
        <div class="ui-g-12 no-pad-left sidenav-layout-a">
          <a class="sidenav-layout-a pad-right" (click)="toggleButton('fp')">Field Point</a>
          <i *ngIf="!showDownArrow_FP" aria-hidden="true" class="fa fa-angle-down sidenav-layout-arrow"></i>
          <i *ngIf="showDownArrow_FP" aria-hidden="true" class="fa fa-angle-up sidenav-layout-arrow"></i>
          <div *ngIf="showDownArrow_FP" class="ui-g-12 dashboard">
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/DepositorMaster']" routerLinkActive="active">Depositor Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/RailwayYardMaster']" routerLinkActive="active">RailYard Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/RegionMaster']" routerLinkActive="active">Region Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/GodownMaster']" routerLinkActive="active">Godown Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/IssuerMaster']" routerLinkActive="active">Issuer Master</a>
            </div>
          </div>
        </div>
        <div class="ui-g-12 no-pad-left sidenav-layout-a">
          <a class="sidenav-layout-a pad-right" (click)="toggleButton('cm')">Commodity</a>
          <i *ngIf="!showDownArrow_CM" aria-hidden="true" class="fa fa-angle-down sidenav-layout-arrow"></i>
          <i *ngIf="showDownArrow_CM" aria-hidden="true" class="fa fa-angle-up sidenav-layout-arrow"></i>
          <div *ngIf="showDownArrow_CM" class="ui-g-12 dashboard">
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/CommodityMaster']" routerLinkActive="active">Commodity Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/GunnyType']" routerLinkActive="active">Gunny Type Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/CerealNoncereal']" routerLinkActive="active">Cereal/Non-Cereal Master</a>
            </div>
          </div>
        </div>
        <div class="ui-g-12 no-pad-left sidenav-layout-a">
          <a class="sidenav-layout-a pad-right" (click)="toggleButton('sc')">Sheme Masters</a>
          <i *ngIf="!showDownArrow_SM" aria-hidden="true" class="fa fa-angle-down sidenav-layout-arrow"></i>
          <i *ngIf="showDownArrow_SM" aria-hidden="true" class="fa fa-angle-up sidenav-layout-arrow"></i>
          <div *ngIf="showDownArrow_SM" class="ui-g-12 dashboard">
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/SchemeMaster']" routerLinkActive="active">Scheme Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/SchemeCommodityMaster']" routerLinkActive="active">Scheme-Commodity Master</a>
            </div>
          </div>
        </div>
        <div class="ui-g-12 no-pad-left sidenav-layout-a">
          <a class="sidenav-layout-a pad-right" (click)="toggleButton('scu')">Stack Card</a>
          <i *ngIf="!showDownArrow_SCU" aria-hidden="true" class="fa fa-angle-down sidenav-layout-arrow"></i>
          <i *ngIf="showDownArrow_SCU" aria-hidden="true" class="fa fa-angle-up sidenav-layout-arrow"></i>
          <div *ngIf="showDownArrow_SCU" class="ui-g-12 dashboard">
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/StackCardUpdate']" routerLinkActive="active">Stack Card Update</a>
            </div>
          </div>
        </div>
        <div class="ui-g-12 no-pad-left sidenav-layout-a">
          <a class="sidenav-layout-a pad-right" (click)="toggleButton('ot')">Others</a>
          <i *ngIf="!showDownArrow_OM" aria-hidden="true" class="fa fa-angle-down sidenav-layout-arrow"></i>
          <i *ngIf="showDownArrow_OM" aria-hidden="true" class="fa fa-angle-up sidenav-layout-arrow"></i>
          <div *ngIf="showDownArrow_OM" class="ui-g-12 dashboard">
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/WeighmentMaster']" routerLinkActive="active">Weighment Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/PackingMaster']" routerLinkActive="active">Packing Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/VehicleMaster']" routerLinkActive="active">Vehicle Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/TypeMaster']" routerLinkActive="active">Type Master</a>
            </div>
            <div class="ui-g-12 no-pad-left">
              <a class="sidenav-layout-a" [routerLink]="['/TransactionMaster']" routerLinkActive="active">Transaction Master</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</p-sidebar>

<!-- <app-topbar></app-topbar>
<div class="layout-menu-container">
  <div class="layout-menu-logo">
    <a [routerLink]="#">
      <img id="layout-menu-logo" src="../../assets/layout/images/login/tncsc-logo-icon.ico">
    </a>
  </div>
  <div class="layout-menu-wrapper">
    <p-scrollPanel >
    </p-scrollPanel>
  </div>
</div> -->