<app-header></app-header>
<app-menu *ngIf="canShowMenu"></app-menu>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
  <p-panel>
    <p-header>
      <div class="ui-g panel-header">
        <div class="ui-g-5 dashboard">Scheme Commodity Master</div>
        <div class="ui-g-12 ui-md-7 dashboard" style="padding-left: 45%">
          <input class="search-masters" type="text" [(ngModel)]="searchText" pInputText
            placeholder="Search by Commodity" (ngModelChange)="onSearch($event)">
        </div>
      </div>
    </p-header>
    <p-toast position="top-center" key="t-err"></p-toast>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4"></div>
      <div class="ui-g-9 ui-md-3">
        <label class="ui-g-7 label-fontsize dashboard">Scheme Type</label>
        <p-dropdown #depositor class="ui-g-12 ui-fluid dashboard" [options]="SchemeCommodityOptions"
          (onClick)="onSelect('schemeCommodity', 'click')" (keydown.enter)="onSelect('schemeCommodity', 'enter')"
          [(ngModel)]="SchemeCommodity" optionLabel="label" (ngModelChange)="onReset('schemeCommodity')"
          [showClear]="true" filter="true" resetFilterOnHide="true" placeholder="-select-">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="ui-g-3 ui-md-1" style="padding-top: 20px;">
        <button class="ui-g-3 dashboard inline-margin" pButton type="button" label=View (click)="onView()"
          [disabled]="(!SchemeCommodity)"></button>
      </div>
      <div class="ui-g-3 ui-md-1" style="padding-top: 20px;">
        <button class="ui-g-3 dashboard inline-margin" pButton type="button" label=Add (click)="onAdd()"
          [disabled]="(!SchemeCommodity)"></button>
      </div>
      <div class="ui-g-12 ui-md-4"></div>
      <div class="ui-g-12 dashboard">
        <p-table #dt [columns]="SchemeCommodityMasterCols" [value]="SchemeCommodityMasterData" [rows]="20"
          [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" [loading]="loading" [responsive]="true"
          exportFilename="SCHEME_COMMODITY_MASTER_BY_TYPE" autoLayout="true">
          <ng-template pTemplate="header" let-columns>
            <tr style="text-align: center;">
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" (dblclick)="onRow($event, rowData)">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-panel>
</div>

<p-dialog header="Scheme Commodity Master Update" [modal]="true" [maximizable]="true" [(visible)]="isEdited"
  [responsive]="true" [style]="{width: '800px'}">
  <div class="ui-g-12 ui-fluid border-teal" style="height: 330px;">
    <form #f="ngForm" name="schemeCommodityMaster">
      <div class="ui-g-12 ui-fluid">
        <div class="ui-g-12 ui-md-1"></div>
        <div class="ui-g-6 ui-md-3" style="padding-top: 18px;">
          <span class="ui-float-label">
            <input name="SchemeCode" pInputText [(ngModel)]="SchemeCode" [readonly]="true" autocomplete="off" required>
            <label for="SchemeCode" class="float-input">Scheme Code</label>
          </span>
        </div>
        <div class="ui-g-6 ui-md-3" style="padding-top: 18px;">
          <span class="ui-float-label">
            <input name="SchemeName" pInputText [(ngModel)]="SchemeName" autocomplete="off" [readonly]="true" required>
            <label for="SchemeName" class="float-input">Scheme Name</label>
          </span>
        </div>
        <div class="ui-g-9 ui-md-4 dashboard">
          <label class="ui-g-7 label-fontsize dashboard" for="Scheme_CommodityName">Commodity Name</label>
          <p-dropdown #commodity class="ui-g-12 ui-fluid dashboard" [options]="CommodityOptions"
            (onClick)="onSelect('commodity', 'click')" (keydown.enter)="onSelect('commodity', 'enter')"
            [(ngModel)]="SchemeCommodityName" name="Scheme_CommodityName" (ngModelChange)="onReset('commodity')"
            [showClear]="true" filter="true" resetFilterOnHide="true" placeholder="-select-">
            <ng-template let-item pTemplate="selectedItem">
              <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-1"></div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-1"></div>
          <div class="ui-g-12 ui-md-6" style="padding-top: 9px;">
            <div class="ui-g border-lightgrey">
              <p-radioButton class="ui-g-6" name="Flag" label="Active" value="A" [(ngModel)]="Active" required>
              </p-radioButton>
              <p-radioButton class="ui-g-6" name="Flag" label="InActive" value="I" [(ngModel)]="Active" required>
              </p-radioButton>
            </div>
          </div>
          <div class="ui-g-3 ui-md-1 ui-fluid dashboard" style="padding-top: 15px;">
            <button pButton type="button" label=Save (click)="onSave()"
              [disabled]="(!Active || !SchemeCommodityName || !SchemeName)"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</p-dialog>