<app-header></app-header>
<app-menu *ngIf="canShowMenu"></app-menu>
<div class="ui-g-12 ui-md-12 ui-lg-12 content">
    <p-panel>
        <p-header>
            <div class="ui-g panel-header">
                <div class="ui-g-5 dashboard">Cereal / Non Cereal</div>
                <div class="ui-g-12 ui-md-7 dashboard" style="padding-left: 45%">
                    <input class="search-masters" type="text" [(ngModel)]="searchText" pInputText
                        placeholder="Search by Item Name" (ngModelChange)="onSearch($event)">
                </div>
            </div>
        </p-header>
        <p-toast position="top-center" key="t-err"></p-toast>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-fluid border-teal">
                <form #f="ngForm" name="itemMaster">
                    <div class="ui-g-12 ui-fluid">
                        <div class="ui-g-12 ui-md-2"></div>
                        <div class="ui-g-6 ui-md-2" style="padding-top: 25px;">
                            <span class="ui-float-label">
                                <input name="ItemCode" pInputText [(ngModel)]="ItemCode" [readonly]="true"
                                    autocomplete="off" required>
                                <label for="ItemCode" class="float-input">Item Code</label>
                            </span>
                        </div>
                        <div class="ui-g-6 ui-md-2" style="padding-top: 25px;">
                            <span class="ui-float-label">
                                <input name="ItemName" pInputText [(ngModel)]="ItemName" autocomplete="off"
                                    [readonly]="(isEdited)" required>
                                <label for="ItemName" class="float-input">Item Name</label>
                            </span>
                        </div>
                        <div class="ui-g-9 ui-md-2">
                            <label for="Item_Type" class="ui-g-7 label-fontsize dashboard">Item Type</label>
                            <p-dropdown #item class="ui-g-12 ui-fluid dashboard" [options]="ItemOptions"
                                (onClick)="onSelect('item', 'click')" (keydown.enter)="onSelect('item', 'enter')"
                                [(ngModel)]="ItemType" [showClear]="true" filter="true" name="Item_Type"
                                resetFilterOnHide="true">
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="ui-g-3 ui-md-1 ui-fluid" style="padding-top: 22px;">
                            <button pButton type="button" label=Update (click)="onSave()"
                                [disabled]="(!ItemCode || !ItemName || !ItemType)"></button>
                        </div>
                        <div class="ui-g-12 ui-md-2"></div>
                    </div>
                </form>
            </div>

            <div class="ui-g-12 dashboard">
                <p-table #dt [columns]="ItemMasterCols" [value]="ItemMasterData" [rows]="20"
                    [rowsPerPageOptions]="[10,20,30,40,50,100]" [paginator]="true" [loading]="loading"
                    [responsive]="true" exportFilename="ITEM_MASTER" autoLayout="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr style="text-align: center;">
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" (dblclick)="onRow($event, rowData)">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-panel>
</div>